<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landbot Basic Chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    
    <script src="https://static.landbot.io/landbot-core/landbot-core.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>

    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <section id="landbot-app" class="hero is-fullheight is-dark">
      <div class="hero-body">
        <div class="chat-container">
          <div class="landbot-chat">
            <div class="landbot-header">
              <h1 class="subtitle">Landbot</h1>
            </div>

            <div id="landbot-messages-container" class="landbot-messages-container">
              <article
                v-for="message in orderedMessages"
                v-bind:key="message.key"
                v-bind:data-author="message.author"
                class="media landbot-message"
              >
                <figure class="media-left landbot-message-avatar">
                  <p class="image is-64x64">
                    <img class="is-rounded" src="http://i.pravatar.cc/100">
                  </p>
                </figure>
                <div class="media-content landbot-message-content">
                  <div class="content">
                    <p>{{ message.text }}</p>
                  </div>
                </div>
              </article>
            </div>

            <div class="landbot-input-container">
              <div class="field">
                <div class="control">
                  <input
                    class="landbot-input"
                    type="text"
                    placeholder="Type here..."
                    v-model="value"
                    v-on:keyup.enter="submit"
                  >
                  <a
                    class="button landbot-input-send"
                    v-on:click="submit"
                    v-bind:disabled="!canSend"
                  >
                    <span class="icon is-large">
                      <i class="fas fa-paper-plane fa-lg"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <!-- APP -->
    <script src="./script.js" charset="utf-8"></script>
  </body>
</html>