:root {
  --light: rgb(255, 255, 255);
  --dark: rgb(37, 44, 54);
  --dark-blue: rgb(44, 47, 64);
  --dark-blue-2: rgb(65, 71, 94);
  --orange: rgb(207, 131, 5);

  --font-family: "Montserrat", BlinkMacSystemFont, -apple-system, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --bot-message-bg: "#FFFFFF";
  --user-message-bg: "rgba(59,64, 94, 1)";
  --chat-border-radius: 20px;
  --button-bg: rgba(59,64, 94, 1);
  --button-text: #FFFFFF;
  --messages-container-bg-color: rgba(255, 249, 236, 0.5);
  --bg-image: undefined;
  --bot-message-text: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: transparent;
  font-family: var(--font-family);
  color: var(--light);
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.chat-container {
  width: 425px;
  height: calc(100vh - 100px);
  margin: auto;
}

.landbot-chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: var(--chat-border-radius);
  background-color: var(--dark-blue);
}

.landbot-header {
  background-color: var(--header-bg-color, #ffffff);
  color: var(--header-text-color, #000000);
  padding: 15px 30px;
  border-top-left-radius: var(--chat-border-radius);
  border-top-right-radius: var(--chat-border-radius);
}

.landbot-messages-container {
  background-color: var(--messages-container-bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
  overflow: auto;
  padding: 36px 20px;
  display: flex;
  flex-direction: column;
}

.landbot-message {
  display: flex;
  margin-top: 0;
  padding-top: 0;
}

.landbot-message + .landbot-message {
  margin-top: 12px;
  padding-top: 0;
  border-top: 0;
}

.landbot-message[data-author="bot"] + .landbot-message[data-author="bot"],
.landbot-message[data-author="user"] + .landbot-message[data-author="user"] {
  margin-top: 3px;
}

.landbot-message[data-author="user"] {
  justify-content: flex-end;
}

.landbot-message-avatar {
  display: none;
}

.landbot-message-content {
  color: var(--light);
  padding: 12px 16px;
  border-radius: 18px;
  display: inline-block;
  flex-grow: 0;
  border: 1px solid #000;
}

.landbot-message[data-author="bot"] .landbot-message-content {
  background-color: var(--bot-message-bg);
  color: var(--bot-message-text);
  border-bottom-left-radius: 2px;
}

.landbot-message[data-author="user"] .landbot-message-content {
  background-color: var(--user-message-bg);
  border-bottom-right-radius: 2px;
}

.landbot-input-container {
  position: relative;
  background-color: var(--input-bg-color, #ffffff);
  border-radius: 8px;
}

.landbot-input {
  width: 100%;
  color: var(--input-text-color, #000);
  padding: 20px 55px 20px 25px;
  font-size: 16px;
  background-color: var(--input-bg-color, transparent);
  outline: none;
}

.landbot-input-send {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--button-text);
  background-color:  var(--button-bg);
  border: 0;
}

.landbot-input-send:hover {
  color: var(--orange);
}

.button {
  pointer-events: auto;
}

.button[disabled] {
  background-color: transparent;
  border-color: transparent;
}

.message-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: auto;
}

.message-button {
  padding: 20px;
  transform: translateY(-50%);
  color: var(--button-text);
  background-color:  var(--button-bg);
  border: 0;
}
